.main {
    display: flex;
    margin-top: 5px;
}

.center{
    display: block;
    width: 100%;
    background: #130C19;
    font-size: 20px;
    padding: 20px 22px;
    padding-right: 0;
    border-radius: 18px 0 0 18px;
    margin-top: 1px;
    margin-left: 58px;
    margin-right: 0;
}

.player {
    display: flex;
    margin: 12px;
}

.pages {
    display: inline-flex;
    gap: 32px;
}

.link {
    display: inline-flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    padding: 42px;
    border-radius: 16px;
    border: 1px solid #ffffff0d;

    .span {
        color: rgb(255, 255, 255);
    }

    &:hover {
        background: #ffffff0d;
  }
}