.body {
    margin: 0;
    overflow: hidden;
}



.main {
    background: linear-gradient(
        180deg,
        rgba(165, 76, 255, 0.6) -2.25%,
        rgba(127, 0, 255, 0.03) 84.66%
      ),
      #000;
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;

  }


  .box {
    transition: width 0.3s ease;
    width: 100%;
    margin-right: 20px;    
  }
  
  .boxShrink {
    width: calc(100% - 473px); 
  }

  /* ------- Header ------- */
  .playerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
  }
  
  .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    padding: 8px;
    background: linear-gradient(
      180deg,
      rgba(165, 76, 255, 0.6) -2.25%,
      rgba(127, 0, 255, 0.03) 84.66%
    );
    transition: background 0.2s ease;
    width: 56px;
    height: 55px;
    border: none;
  }
  
  .backIcon {
    width: 29px;
    height: 42px;
  }
  
  .nowPlayingTitle {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
  }
  
  .playerHeaderRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .dotsButton,
  .queueButton {
    display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: background 0.2s ease, transform 0.3s ease;
  }
  
  .dotsButton:hover,
  .queueButton:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .dotsIcon,
  .queueIcon {
    width: 56px;
    height: 56px;
  }


  



  /* ----- */


  .artistWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .artistIcon {
    width: 568px;
    height: 568px;
      
  }

  .songInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    box-sizing: border-box;
  }

  .songText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }

  .songTitle {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .songArtist {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  .heartButton {
    display: flex;
    width: 57px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.09);
  }

  .heartIcon {
    width: 57px;
    height: 56px;
    
  }

  .heartButton:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .heartButton:active .heartIcon {
    fill: #00F5D4;
    stroke: #00F5D4;
  }


  /* --- Player ---- */ 

  .audioPlayer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    box-sizing: border-box;
  }

 
  

  

  .timeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #FFFFFF;
    outline: none;
  }
  
  
  .timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7F00FF;
    cursor: pointer;
    position: relative;
  }
  
  .timeSlider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  
  }
  
  .timeLabels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
  }

  /* --------- */

.volumeControl {
    display: flex;
    width: 160px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  
  .volumeIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  
  
  .volumeSlider {
    -webkit-appearance: none;
    width: 88px;
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF var(--volume-percent, 0%), #A8A8A8 var(--volume-percent, 0%), #A8A8A8 100%);
    outline: none;
  }
  
  .volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    margin-top: 0;
  }
  
  
  .volumeSlider::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .volumeLabel {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  /* ---------- */


.playerBox {
    display: flex;
    align-items: center;
    gap: 456px;
    align-self: stretch;
    box-sizing: border-box;

}
.playerSection {
    display: flex;
    width: 343px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
  
  }
  
  .playerControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
  }
  
  
  .seekControl {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .seekButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background: transparent;
  }
  
  .seekButton:hover {
    background: rgba(0, 0, 0, 0.10);
  }
  
  .seekIcon {
    width: 32px;
    height: 32px;
  }
  
  .seekLabel {
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .trackControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
  }
  
  .prevButtonWrapper {
    border-radius: 30px;
    display: flex;
    padding: 7.716px 11px 8.284px 8px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }

  
  
  .prevButton {
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    background: rgba(162, 162, 162, 0.26);
  }
  
  .prevButton:hover {
    background: rgba(0, 0, 0, 0.10);
  }
  
  .PrevIcon {
    width: 16px;
    height: 16px;
  }
  
  .playPauseButtonWrapper {
    position: relative;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 96px;
    background: linear-gradient(0deg, rgba(255, 250, 250, 0.15) 0%, rgba(255, 250, 250, 0.15) 100%), #7F00FF;
    transition: background 0.2s ease;
    overflow: visible; 
  }

  .favoriteMessage {
    position: absolute;
    bottom: 100%; 
    margin-bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 245, 212, 0.9);
    color: #000;
    padding: 4px 12px;
    border-radius: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
    animation: fadeInOut 2s forwards;
    border-radius: 40px;
    background: linear-gradient(0deg, #00F5D4 0%, #00F5D4 100%), #F0EEEE;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    height: 57px;
    display: flex;
    padding: 0 14px;
    justify-content: center;
    align-items: center;
  }
  
  
  .playPauseButtonWrapper:hover {
    background: #7F00FF;
  
  }
  
  .playPauseButton {
    flex-shrink: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pauseLines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }
  
  .pauseLineOne {
    width: 4px;
    height: 20px;
    background: #FFF;
    border-radius: 2px;
  
  }
  
  .pauseLineTwo {
    width: 4px;
    height: 20px;
    background: #FFF;
    border-radius: 2px;
  }
  
  .playIcon {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }
  
  .shuffleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shuffleButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    background: transparent;
  }
  
  
  
  .shuffleIcon {
    width: 24px;
    height: 24px;
  }
  
  .audioPlayer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }



  /* --------- */ 

  /* ----- Queue Panel------- */


  .queuePanel {
    position: fixed;
    right: 0;
    height: 100vh;
    border-radius: 10px 0 0 10px;
    background: rgba(31, 22, 40, 0.70);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    box-sizing: border-box;
    overflow-y: auto;
    width: 473px;
  }

  
  .queuePanel.open {
    transform: translateX(0);
  }

  .panelHeader {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    margin-top: 20px; 
  }

  .panelHeaderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.04);
  }


  .panelIcon {
    width: 40px;
    height: 40px;
  }

  .panelTitle {
    position: relative;
    transform: translateX(50%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }




  /* ------ Tableet ------ */

  @media (max-width: 1024px) and (min-width: 768px) {
    .main {
      height: 100vh;       
      overflow-y: auto;      
      flex-direction: column;
    }

    .box {
        width: 100%; 
        transition: width 0.3s ease;
        position: relative; 
      }
      
  
    .songInfo {
      align-items: center;
      text-align: center;
      padding: 0 20px;
      gap: 8px;
    }
  
    .audioPlayer {
      gap: 20px;
      padding: 20px;
      width: 100%;
    }
  
    .playerBox {
      gap: 152px;
      align-items: center;
      width: 100%;
    }
  
    .artistIcon {
      width: 400px;
      height: 400px;
      margin: 0 auto;
    }

    .queuePanel {
        position: fixed;   
        top: 0;
        right: 0;
        width: 473px;
        height: 100%;
        border-radius: 10px 0 0 10px;
        background: rgba(31, 22, 40, 0.7);
        transform: translateX(100%); 
        transition: transform 0.3s ease;
        z-index: 1000;    
      }
      
      .queuePanel.open {
        transform: translateX(0);
      }
}
  
  