.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 230px;
    gap: 8px;
    padding: 4px;
    cursor: pointer;
  }

  .card:hover {
    border-radius: 6px;
    background-color: #ffffff33;
  }
  
  .icon {
    width: 176px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 32px;
    background: lightgray 50% / cover no-repeat;
  }
  
  .name {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      width: 128px;
    }
    .icon {
      height: 128px;
      border-radius: 16px;
      background: lightgray -0.623px -0.905px / 100% 129.31% no-repeat;
    }
    .name {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @media (min-width: 1024px) {
    .card {
      width: 176px;
      height: 220px;
      gap: 16px;
    }
    .icon {
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 16px;
      background: lightgray -0.856px -1.188px / 100% 129.31% no-repeat;
    }
    .name {
      font-size: 24px;
      line-height: 28px;
    }
  }