.container {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 0 10px 10px 0;
    padding: 24px 0 0 12px;
    display: flex;
    gap: 58px;
}

.logo {
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.span {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.container:hover .span {
    opacity: 1;
    font-size: 16px;
}

.container:hover {
    width: 25%;
    transition: width 1.88s ease;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    color: #ccc;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 14px;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.link:hover {
    background: #ffffff0d;
    box-shadow: 2px 4px 12px #00000066;
}

.link:active {
    color: #7F00FF;
    background: #ffffff0d;
}
