.card {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    box-sizing: border-box; 
    justify-content: space-between;
    padding: 8px 16px;
  }

  .card:hover {
    border: 1.5px solid #00F5D4;
  }

  .songInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;

    
  }
  
  .icon {
    display: flex;
    width: 56px;
    height: 56px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 8px;
  }

  .artistInfo {
    display: flex;
    width: 88px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
  }
  
  .songName {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
  }

  .artistName {
    color: #A8A8A8;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin: 0;
  }

  .heartSection {
    display: flex;
    width: 52px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  .heartButton {
    border: none;
    background: transparent;
    margin: 0;
  }

  .heartIcon {
    width: 24px;
    height: 24px;
  }

  .dotsButton {
    border: none;
    background: transparent;
    margin: 0;
  }

  .dotsIcon {
    width: 24px;
    height: 24px;
  }

  .iconWrapper {
    display: flex;
    position: relative;
  }

  .playPauseButton {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .pauseLines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }
  
  .pauseLineOne {
    width: 4px;
    height: 20px;
    background: #FFF;
    border-radius: 2px;
  
  }
  
  .pauseLineTwo {
    width: 4px;
    height: 20px;
    background: #FFF;
    border-radius: 2px;
  }
  
  .playIcon {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }

   @media (min-width: 768px) and (max-width: 1023px) {
    
    
  }

  @media (max-width: 1024px) {
    
  } 