.musicPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  color: white;
}

.albumRate {
  
}

.leftSection {
  display: flex;
  justify-content: space-between;
  width: 51%;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}