.player {
  display: flex;
  flex-direction: row;
  margin-top: 22%;
  width: 66%;
  border-radius: 10px;
  background: #a54cffe1;
  padding: 20px;
}

.playerLeft {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 1340px;
}

.playerCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 343px;
  gap: 20px;
}
.playerNavigation {
  display: flex;
  flex-direction: row;
  width: fill;
  gap: 18px;
  align-items: center;
}
.rotated {
  transform: rotate(180deg);
}

.playerTime {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.playerRight {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  font-size: 120%;
  font-weight: 400;
  font-family: sans-serif;
}