.container {
    overflow: hidden;
}

.main {
    padding: 0 0 0 24px;
}

.h1 {
    color: white;
}

.artistGrid {
    display: flex;
    gap: 16px;
    width: fit;
    overflow-x: auto;
    padding: 12px;
    scroll-behavior: smooth;
    padding-bottom: 16px;
}

.h2 {
    color: white;
}

.musicPlayerCards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit;
    overflow-y: auto;
    padding: 12px;
    scroll-behavior: smooth;
    padding-bottom: 16px;
}