.main {
    display: flex;
    margin-top: 5px;
}

.center{
    display: block;
    width: 100%;
    background: #130C19;
    font-size: 20px;
    padding: 20px 16px;
    padding-right: 0;
    border-radius: 18px 0 0 18px;
    margin-top: 1px;
    margin-left: 58px;
    margin-right: 0;
}

.artistCards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fill;
}

.player {
    display: flex;
}

.h2 {
    font-size: 40px;
    color: white;
}

.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #ffffff;
}

.album {
  display: flex;
  flex-wrap: row;
  gap: 16px;

  > * {
    flex: 0 0 calc(25% - 16px);
  }
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .h2 {
      font-size: 20px;
    }

    .center {
        display: flex;
    }

}

@media (min-width: 320px) and (max-width: 767px) {

    .main {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .center {
        margin: 0;
        padding: 4px;
        border-radius: 0;
    }

    .h2 {
      font-size: 14px;
    }

    .album {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        gap: 16px;

        > * {
            flex: 0 0 44%;
        }
    }
}