.songList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-Width: 80;
  width: 100%;
}

.songList div {
  display: flex;
  align-items: center;
}

.songDetails {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 630px;
}

.songDetails p {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #FFF;
}

.songList span {
  color: grey;
}

.songRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  width: 600px;
  color: #FFF;
}

.songActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.imgOne {
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}.imgOne:active {
  color: red;
}.imgOne:checked {
  color: red;
}


.imgTwo {
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}