@import '../../color.scss';


.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login {
    display: flex;
    width: 367px;
    align-items: center;
    justify-content: center;
    color: $Text-Primary;
    font-family: sans-serif;
}
.loginForm { 
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.email {
    width: fill 367px;
    height: fixed 56px;
    padding: 16px;
    border-radius: 10px;
}
.email:focus {
    border: 1px solid $Text-Primary;
    color: $Text-Primary;
    outline: none;
    background-color: #7F00FF0D;
}
.email:focus::placeholder {
    color: transparent;
}
.passwordWrapper {
    position: relative;
}
.password {
    width: fill 367px;
    height: fixed 56px;
    padding: 16px;
    border-radius: 10px;
}
.password:focus {
    border: 1px solid $Text-Primary;
    color: $Text-Primary;
    outline: none;
    background-color: #7F00FF0D;
}
.password:focus::placeholder {
    color: transparent;
}
.password.error {
    border: 1px solid $Error-Alert;
}
.showPasswordButton {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
.rememberForgot {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.submit {
    width: 100%;
    height: fixed 56px;
    flex-flow: horizontal;
    border-radius: 25px ;
    padding: 18px 150px 18px 150px;
    gap: 16px;
    background: #FFFFFF33;
    color: #FFFFFFBF;
    cursor: pointer;
}