$Primary: #7F00FF;
$Secondary: #A54DFF;
$Accent: #1ABC9C;
$Background-dark: #0D0D0D;
$Surface: #1E1E1E;
$Text-Primary: #FFFFFF;
$Text-Secondary: #A8A8A8;
$Border-Diver: #2E2E2E;
$Error-Alert: #E63946;
$Warning: #FFBB00;
$Info: #44A1FF;
$Success: #7CE03E;